.video-container{
    position: relative;
    height: 150px;
    min-width: 200px;
    margin-right: 4px;
    margin-bottom: 4px;
}
.play-item{
    height: 48;
    width: 48px;
    position: absolute;
    top: 75px;
    left: 100px;
    transform: translate(-50%,-50%);
    -webkit-filter: invert(1); /* Safari/Chrome */
    filter: invert(1);
}
.video-picture{
    /* opacity: 1; */
    border-radius: 3px;
    height: 150px;
    width: 200px;
}
