.portal-homepage {
    padding: 0px 43px;
}

.portal-homepage .wrap,
.portal-homepage .header,
.portal-homepage .content {
    width: 100%;
}

.title {
    color: #444444;
    font-size: 24px;
    font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-600) var(--unnamed-font-size-24)/var(--unnamed-line-spacing-32) var(--unnamed-font-family-segoe-ui);
    font: normal normal 600 24px/32px Segoe UI;
    margin-bottom: 15px;
}

.anounItem-title{
    height: 18px;
    overflow: hidden;
    font-size: 16px;
    font-family: "Segoe UI", Arial, sans-serif;
}

#content {
    display: flex;
    flex-wrap: wrap;
}
#left-content {
    flex: 7 7;
}
#right-content{
    flex: 3 3;
}
@media only screen and (max-width: 985px) {
    #left-content{
        width: 100%;
    }
    #right-content{
        width: 100%;
    }
    .event {
        max-width: calc(50% - 5px);
    }
}
@media only screen and (max-width: 650px){
    .event{
        max-width: 100%;
        min-width: 300px;

    }
}





